@font-face {
    font-family: Cormorant;
    src: url('cormorant-garamond-regular.woff2') format('woff2');
}

@font-face {
    font-family: Vinter;
    src: url('vinter-light.woff2') format('woff2');
}

:root {
    --color-action: #3498db;
    --color-action-active: #2980b9;
}
