.act-button {
    width: 4em;
    max-height: 4em;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-style: none;
    color: white;
    background-color: var(--color-action);
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    padding: 0;
}

.act-button:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
}

.act-button:active {
    background-color: var(--color-action-active);
}

.act-caption {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    font-family: Vinter;
    font-size: var(--size);
}

