.act-button {
    width: 120px;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-style: none;
    color: white;
    background-color: #3498db;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    padding: 0;
}

.act-button:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
}

.act-button:active {
    background-color: #2980b9;
}

.act-caption {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    font-family: Vinter;
    font-size: var(--size);
}

