@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public int FontSize { get; set; } = 45;
    [Parameter] public Action OnClick { get; set; }
}

<button class="act-button" @onclick="OnClick"><span class="act-caption" style="--size: @(FontSize)px">@ChildContent</span></button>
