@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Gutter { get; set; } = "0";
}

<div class="column" style="--gutter: @(Gutter)">
    @ChildContent
</div>