@code {
    [Parameter] public Game State { get; set; }
}

<div class="play-area">
    <div class="life-title">You are a mayfly, <span class="trait">brief</span> and <span class="trait">desperate</span>.</div>
</div>