@code {
    [Parameter] public Game State { get; set; }
}

<div class="play-area">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div class="life">You are a mayfly, <span class="trait">brief</span> and <span class="trait">desperate</span>.</div>
        <div style="display: flex">
            <ActButton>LIVE</ActButton>
            <ActButton>MATE</ActButton>
            <ActButton>DIE</ActButton>
        </div>
    </div>
</div>