.play-area {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.life {
    font-size: 30px;
    font-family: Cormorant;
    margin-bottom: 60px;
}

.trait {
    font-weight: bold;
}