nav {
    height: 60px;
    background-image: url("nav.png");
    background-repeat: repeat-x;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
}

nav label, nav button {
    height: 42px;
    margin: 6px;
}

nav > label {

    display: flex;
    align-items: center;
}

.commands {
    flex: 1;
}

button {
    color: white;
    background: black;
    border: 3px solid white;
    border-radius: 6px;
}

button:hover {
    background: #333;
}

button:active {
    background: #666;
}

input[type=checkbox] {
    margin: 6px;
    width: 24px;
    height: 30px;
}

svg text {
    user-select: none;
}